*{
    margin: 0px;
    padding: 0px;
}
.main_outer{
    display: flex;
    flex-direction: row;
    background-color: #161625;
    height:100%; 
    flex-basis:50% ;
    padding:5em 5vw;
    justify-content: space-around;
    width: 100vw;
    /* mak this 100% */
}
