:root{
    --col-gre:#545a6418;
    --col-red:#E2302818;
    --col-blu:rgb(0, 123, 255,0.18);
    --col-grn:#27A64418;
    --backg-grey:#212130;
}
*{
    font-family: 'Archia Regular';
    font-style: normal;
    font-weight: normal;
}

.col-grey{
    color: #646b79 !important;
}
.col-blu{
    color: rgb(0, 123, 255) !important;
}
.col-green{
    color: #27A644 !important;
}
.col-red{
    color: #E23028 !important;
}
.bold{
    font-weight: bold;

}
.left_outer{
    height:100%;
    flex-basis:45% ;
    display: flex;
    flex-direction: column;
}

.sb_outer{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    color:#6C757D;
    font-family: Poppins,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sb_outer > p{
    text-align: center;
    padding: 1em 0em;
    font-size: small;
}
.myinput {
    border: none;
    background-color: #1E1E30;
    height: 3.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0em 1em;
}
.myinput > input{
    border: none;
    outline: none;
    background-color: #1E1E30;
    width: 100%;
    height: 100%;
    color:rgb(226, 226, 226);
    text-indent: 16px;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.myinput > input:focus{
    border: none;
    background-color: #1E1E30;
    width: 100%;
    height: 100%;
    color:rgb(226, 226, 226);
    text-indent: 16px;
    font-size: large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.myinput > img{
    height: 24px;
    width:24px;
}
.left_state{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
}
.ofstate{
    flex-basis: 50%;
    padding-top: 1em;
}
.Statel_outer{
    padding: 2em 0em;
}
/* all india cards */
.c_status{
    flex-basis:22%;
    display: flex;
    flex-direction: row;
}
.all_i_card{
    flex-grow:0.8;
    font-family: 'Archia-Regular' !important;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    border-radius:12px ;
    /* border: 1px solid white; */
    padding:2em 0em ;
    justify-content: space-around;
}
.all_i_card > p{
    text-align: center;
    font-weight: bolder;
    
}
.all_i_card > span{
    text-align: center;
    font-size: larger;
    font-family: 'Be Vietnam Bold';
}
.cr:hover{
    background-color: var(--col-red);
    transition: 0.5s ease;
}
.cb:hover{
    background-color: var(--col-blu);
    transition: 0.5s ease;

}
.cg:hover{
    background-color: var(--col-grn);
    transition: 0.5s ease;

}
.cgr:hover{
    background-color: var(--col-gre);
    transition: 0.5s ease;
}

/* Table */
.test{
    /* border: 1px solid white; */
}
.Table-container{
    padding-top: 3em;
     display: flex;
    flex-direction: column;
    color: var(--col-gre);
}
.head,.item{
margin: 3px 2px ;
background-color:var(--col-gre);
padding:1em 0em;
text-align: center;
vertical-align: center;
font-weight: bolder;
}
.col{
    justify-content: center;
    display: flex;
    align-items: center;
}
.col:hover{
    background-color: #161625;
    
}


