.test{
    /* border: 1px solid white; */

}
.col-grey{
    color: #646b79 !important;
}
.col-blu{
    color: rgb(0, 123, 255) !important;
}
.col-green{
    color: #27A644 !important;
}
.col-red{
    color: #E23028 !important;
}
.right_outer{
    height:150vh;
    display: flex;
    flex-direction: column;
    flex-basis:45%;
    padding:0em 2em;
}
.country_status{
    flex-basis: 10%;
    display:flex;
    flex-direction:row;
    
}
.i2{
flex-basis:20%;
font-size:1em;
line-clamp:1;
}
.ind{
flex-basis:80%;
	
}
.ind > h2{
font-weight:900;
}
.spreads{
    
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    position:sticky;
}
.sp_{
    flex-basis: 23% !important;
    margin:8px 0px;
    border-radius:12px ;
 
}
.st{
    text-align: center;
}
.select-box{
    padding:0.7em;
    background-color:#161625;
    border:1.5px solid #646b79;
    margin:1em 0em;
}
